<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Taskmanagement.Scheduler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
 </configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>

	<connectionStrings>
		<clear/>
		<add name="Default" providerName="MYSQLDataBase" connectionString="Server=localhost;UserId=root;Password=volley2;Database=task_management;Default Command Timeout=3600;"/>
	</connectionStrings>

	<applicationSettings>
		<Taskmanagement.Scheduler.Properties.Settings>
   <setting name="NotificaErroriApplicazioneTO" serializeAs="String">
    <value />
   </setting>
   <setting name="NotificaErroriApplicazioneCC" serializeAs="String">
    <value />
   </setting>
   <setting name="SecondiCheckModificheSchedulazioni" serializeAs="String">
    <value>120</value>
   </setting>
   <setting name="MasterNode" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ApiBindingAddress" serializeAs="String">
    <value>http://+:8080</value>
   </setting>
   <setting name="ApiEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ApiKeys" serializeAs="String">
    <value />
   </setting>
  </Taskmanagement.Scheduler.Properties.Settings>
	</applicationSettings>

	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="myaddress@email.it">
				<network enableSsl="false" host="myhost.email.it" port="25" userName="" password="" defaultCredentials="true"/>
			</smtp>
		</mailSettings>
	</system.net>

<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
</configuration>
