<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Taskmanagement.Scheduler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
 </configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<clear />
		<add name="Default" providerName="MYSQLDataBase" connectionString="Server=cspldbmy01.casagit.it;UserId=tmuser_svil;Password=$Appus3r1$;Database=task_management_svil;Default Command Timeout=3600;" />
	</connectionStrings>

	<applicationSettings>
		<Taskmanagement.Scheduler.Properties.Settings>
   <setting name="NotificaErroriApplicazioneTO" serializeAs="String">
    <value />
   </setting>
   <setting name="NotificaErroriApplicazioneCC" serializeAs="String">
    <value />
   </setting>
   <setting name="SecondiCheckModificheSchedulazioni" serializeAs="String">
    <value>120</value>
   </setting>
   <setting name="MasterNode" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ApiBindingAddress" serializeAs="String">
    <value>http://+:8080/</value>
   </setting>
   <setting name="ApiEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ApiKeys" serializeAs="String">
    <value>M@st3rK3y</value>
   </setting>
   <setting name="NumeroGiorniPianoEsecuzione" serializeAs="String">
    <value>7</value>
   </setting>
  </Taskmanagement.Scheduler.Properties.Settings>
	</applicationSettings>

	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="myaddress@email.it">
				<network enableSsl="false" host="myhost.email.it" port="25" userName="" password="" defaultCredentials="true" />
			</smtp>
		</mailSettings>
	</system.net>


  <runtime>


    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">


      <dependentAssembly>


        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />


      </dependentAssembly>


    </assemblyBinding>


  </runtime>
</configuration>
