<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bdo" version="4.0.7" targetFramework="net452" />
  <package id="Common.Logging" version="3.1.0" targetFramework="net452" />
  <package id="Common.Logging.Core" version="3.1.0" targetFramework="net452" />
  <package id="LevelB.Arch.Core" version="0.1.1.268" targetFramework="net452" />
  <package id="LevelB.Vici.WinService" version="0.1.1.268" targetFramework="net452" />
  <package id="MySql.Data" version="6.8.8" targetFramework="net452" />
  <package id="NinjaNye.SearchExtensions" version="1.0.5395.16422" targetFramework="net452" />
  <package id="Quartz" version="3.0.7" targetFramework="net452" />
  <package id="vici.core" version="2.0.0.1114" targetFramework="net452" />
</packages>