<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="TaskWorker.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	<section name="TaskInterface.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <connectionStrings
		<!-- Connessione al db TaskManagement -->
		 <!--<add name="TaskInterface.My.MySettings.TaskManagementConnectionString"
    connectionString="Data Source=dev-mssql05;Initial Catalog=TaskManagement;Integrated Security=True"
    providerName="System.Data.SqlClient" />-->

	 <add name="TaskInterface.My.MySettings.TaskManagementConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='C:\DATI_SIMONE\Documenti\Visual Studio 2010\Projects\TaskManagement\RisorseVarie\TaskManagement.mdf';Integrated Security=True;Connect Timeout=30"/>
	 
	   </connectionStrings>

 <!-- CONFIGURAZIONE EMAIL GLOBALE -->
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="TaskManagement@email.it">
				<network host="mailbus.fastweb.it" port="25" defaultCredentials="true"/>
			</smtp>		  
		</mailSettings>	   
	</system.net>
	
 <applicationSettings>
  <TaskWorker.My.MySettings>
   <setting name="LogBaseDirectory" serializeAs="String">
    <value>C:\TaskManagement\Log</value>
   </setting>
  </TaskWorker.My.MySettings>

	 <TaskInterface.My.MySettings>
		 <setting name="EmailNotifyDefaultTO" serializeAs="String">
			 <value/>
		 </setting>
		 <setting name="EmailNotifyDefaultCC" serializeAs="String">
			 <value/>
		 </setting>
		 <setting name="EmailNotifyDefaultBCC" serializeAs="String">
			 <value/>
		 </setting>
	 </TaskInterface.My.MySettings>
 </applicationSettings>
<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
