<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="TaskWorker.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<!-- Connessione al db TaskManagement -->
		 <add name="TaskInterface.My.MySettings.TaskManagementConnectionString"
				connectionString="Data Source=dbmssql05;Initial Catalog=TaskManagement;User Id=myfasi;Password=J4nLCo4C;Integrated Security=False"
				providerName="System.Data.SqlClient" />
	 
	   </connectionStrings>
	
    <system.diagnostics>
        <sources>
            <!-- Questa sezione definisce la configurazione di registrazione per My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante e sostituire APPLICATION_NAME con il nome dell'applicazione -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>

 <!-- CONFIGURAZIONE EMAIL GLOBALE -->
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="TaskManagement@sds.it">
				<network host="mail.sds.it" port="25" userName="backoffice@faschim.it" password="tT3X5hs4" defaultCredentials="false" />			 
			</smtp>		  
		</mailSettings>	   
	</system.net>
	
 <applicationSettings>
  <TaskWorker.My.MySettings>
   <setting name="EmailNotifyDefaultTO" serializeAs="String">
    <value />
   </setting>
   <setting name="EmailNotifyDefaultCC" serializeAs="String">
    <value />
   </setting>
   <setting name="EmailNotifyDefaultBCC" serializeAs="String">
    <value />
   </setting>
   <setting name="LogBaseDirectory" serializeAs="String">
    <value>C:\TaskManagement\Log</value>
   </setting>
  </TaskWorker.My.MySettings>
 </applicationSettings>
</configuration>
