<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TaskManagement.Worker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>

	<connectionStrings>
		<add name="TmConnection" providerName="MYSQLDatabase" connectionString="Server=localhost;Database=task_management;Uid=root;Pwd=volley2;"/>
	</connectionStrings> 
	
    <applicationSettings>
        <TaskManagement.Worker.Properties.Settings>
            <setting name="LogBaseDirectory" serializeAs="String">
                <value/>
            </setting>
        </TaskManagement.Worker.Properties.Settings>
    </applicationSettings>

	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="task.automatici@casagit.eu">
				<network host="mail.casagit.eu" port="25" defaultCredentials="false" enableSsl="false" userName="task.automatici" password="$Casagit1$"/>
			</smtp>
		</mailSettings>
	</system.net>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data><startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
