<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TaskManagement.Worker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>

	<connectionStrings>
		<add name="TmConnection" providerName="MYSQLDatabase" connectionString="" />
	</connectionStrings> 
	
    <applicationSettings>
        <TaskManagement.Worker.Properties.Settings>
            <setting name="LogBaseDirectory" serializeAs="String">
                <value />
            </setting>
        </TaskManagement.Worker.Properties.Settings>
    </applicationSettings>

	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="tm@email.it">
				<network host="myhost" port="25" defaultCredentials="true" enableSsl="false" userName="user" password="pass" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>